.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-transition {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-transition:hover {
  background-color: #6c757d;
  color: #fff;
  font-weight: 900;
}

.btn-transition:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-transition:active {
  background-color: #495057;
  color: #fff;
}

.book-card {
  transition: transform 0.3s ease;
}

.book-card:hover {
  transform: translateY(-5px);
}

.book-image {
  height: 400px;
  overflow: hidden;
}

.book-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.P {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.PNAV {
  margin-bottom: 0px;
}
.NavSearch {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.NavSearch.active {
  opacity: 1;
  transform: scale(1);
}
